header.header 
    .container-fluid 
        .row-align-item-center 
          .col-3 
            .inner-logo 
              a(href="/admin/dashboard")
                img(src="/images/LogoComputerShop.png",alt= "Logo")    
          .col-9